body {
    background-color: #ffffff;   
    color: #222222;              
    font: 12pt Georgia, "Times New Roman", Times, serif;
    border: thick solid #000000;
    margin: 15px;
    padding: 0;
}

/* Paragraphs */
p {
    padding: 0.5em;
}

/* Headings */
h1, h2, h3 {
    padding-bottom: 0.5em;
    color: #cc2e72; 
}

/* Lists */
ul, ol {
    padding-left: 1.5em;
    padding-bottom: 0.5em;
}

/* Links */
a:link {
    color: #cc2e72; 
}

a:visited {
    color: #a81f5c; 

a:hover {
    color: #a81f5c; 
    text-decoration: underline;
}


dt {
    font-size: 1.1em;
    font-weight: bold;
    color: orangered;
    margin: 5px;
}

dd {
    margin-left: 50px;
    padding-bottom: 1em;
}

/* HEADER */
header {
    height: 99px;
    padding-left: 250px;
    padding-top: 10px;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url("../images/przlogo.gif");
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #f2f2f2; 
}

/* Header Headings */
header h1, header h2 {
    font-family: Garamond, serif;
    color: #cc2e72; 
}

header h1 {
    font-size: 2em;
    font-weight: bold;
}

header h2 {
    font-size: 1.6em;
    font-style: italic;
    text-align: center;
}

/* NAVIGATION */
nav {
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #f2f2f2; 
}

nav ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    padding: 5px 1em;
    border-right: thin solid #40A7A5;
}

nav li:last-child {
    border-right: none;
}

/* MAIN SECTION */
main {
    padding: 20px;
    background-image: url("../images/prz_watermark.gif");
    background-repeat: no-repeat;
    background-position: center right;
}

/* Main Headings */
main h1 {
    font-size: 1.6em;
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
}

main h2 {
    font-size: 1.3em;
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
}

main h3 {
    font-size: 1.1em;
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
}


ul.bigger li {
    font-size: 1.2em;
    padding: 0.5em 0;
}

/* Ordered lists */
main ol {
    padding-bottom: 0.8em;
    list-style-type: upper-roman;
}

main ol ol {
    list-style-type: lower-alpha;
}

/* FOOTER */
footer {
    background-color: #f2f2f2; 
    padding: 15px;
    text-align: center;
}

footer p {
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.8em;
    color: #cc2e72; 
}